$govuk-images-path: "/images/";
$govuk-fonts-path: "/fonts/";
@import "node_modules/govuk-frontend/govuk/all";

body {
  margin: 0;
}

.error-message {
  font-weight: $govuk-font-weight-bold;
  color: $govuk-error-colour;
}
